/* Youtube */
.video-ads .ytp-ad-module {
    display: none !important;
}

.ytp-ad-text-overlay {
    display: none !important;
}

.ytp-ad-image-overlay {
    display: none !important;
}

/* Outlook */
._3_hHr3kfEhbNYRFM5YJxH9, ._1_ag99JsBHxI6S4FP5ayPv {
    display: none !important;
}